@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lato', sans-serif;
}
.container{
    height: 100vh;
    /* width: 100vw; */
    padding: 0 5%;
    /* display: flex;
    justify-content: space-between; */
}
.header{
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    height: 10%;
}

.logo{
    
    color: #0838E3;
    margin: 0px 0px;
}
.logo span{
    margin: 0;
    padding: 0;
    display: block;
}
.Dhoodi{
    font-family: 'Righteous', cursive;
    font-size: 14px;
    
}
.Class{
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: 300;
    
}
.main{
    display: flex;
    height: 80%;
}
.section-1{
    width: 50%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.coming-soon{
    font-size: 18px;
    font-weight: 300;
    /* margin-top: 70px; */
}
h1{
    font-weight:900;
    font-size:72px ;
    line-height: 1;
    margin: 0;
    color: #0838E3;
}
.image{
    display: none;
}
p{
    font-weight: 400;
    
}

.subscribe{
    /* margin: 150px 0; */
}
.subscribe-span{
   
}
.input-section{
    width: 380px;
    height: 42px;
    border: 2px solid #0838E3;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 0 3px;
    margin-top: 10px;
}
.input-section input{
    width: 300px;
    height: 35px;
    /* background-color: blue; */
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 0 10px;
    font-size: 18px;
    font-family:'Lato', sans-serif;
    color: #0838E3;
}
.input-section button{
    width: 112px;
    height: 35px;
    text-transform:uppercase;
    border-radius: 20px;
    outline: none;
    border: 1px solid #0838E3;
    font-size: 14px;
    font-family:'Lato', sans-serif;
    background-color: #0838E3;
    color: #fff;
    cursor: pointer;
}
.input-section button:hover{
    background-color: blue;
}
.social-icons{
    /* margin-top: auto; */
    padding: 10px 0px;
}
.social-icons i{
    padding: 0 10px;
    cursor: pointer;
    color: rgb(41, 41, 41);
}
.social-icons i:hover{
    color: black;
}
.section-2{
    width: 50%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
}
.image-container{
    width: 500px;
    height: 500px;
    /* background-color: #0838E3; */
    position: relative;
    margin-top: 100px;
}
img{
    position: absolute;
    height: 100%;
    width: 100%;
}

.footer{
    height: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    /* background-color: aquamarine; */
}
.copy-right{
    margin: auto;
}

@media only screen and (max-width:800px){
    /* Tablets */
    .Dhoodi{
        font-size: 14px;
    }
    .Class{
        font-size: 28px;
    }
    .image{
        display: block;
        width: 350px;
        height: 300px;
        position: relative;
        /* background-color: #0838E3; */
        text-align:justify;
    }

    img{
        position: absolute;
        height: 100%;
        width: 100%;
    }
    h1{
      
        font-size: 48px;
    }
    p{
        font-size: 12px;
    }
    .section-1{
        width: 100%;
        align-items: center;
        text-align: center;
        
    }
    .sub-section-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-1 p, span, h1{
        
    }
    .section-2{
        display: none;
    }
    .input-section{
        margin: 20px 0px 10px 0px;
    }
    .subscribe-span{
        font-size: 12px;
    }

    .input-section{
        height: 75px;
        border: none;
        /* background-color: antiquewhite; */
       
        margin-top: 10px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .input-section input{
        width: 260px;
        height: 30px;
        /* background-color: blue; */
        border-radius: 20px;
        outline: none;
        border: 1px solid #0838E3;
        padding: 0px 10px;
        font-size: 14px;
        font-family:'Lato', sans-serif;
        color: #0838E3;
    }
    .input-section button{
        width: 280px;
        height: 35px;
        padding: 0px 10px;
        text-transform:uppercase;
        border-radius: 20px;
        outline: none;
        border: 1px solid #0838E3;
        font-size: 14px;
        font-family:'Lato', sans-serif;
        background-color: #0838E3;
        color: #fff;
        cursor: pointer;
    }
    .social-icons i{
        font-size: 14px;
    }
    .footer{
        font-size: 12px;
    }
    
}

@media only screen and (max-height:800px) and (max-width:320px){
    .image{
        display: block;
        width: 250px;
        height: 200px;
        position: relative;
        /* background-color: #0838E3; */
        text-align:justify;
    }
}

@media only screen and (max-width:320px){
    /* body{
      display: flex;
      justify-content: center;
      align-items: center;
    } */
    /* .container{
        padding: 0;
    } */
    .coming-soon{
        font-size: 14px;
    
        /* margin-top: 70px; */
    }
    .image{
        display: block;
        width: 200px;
        height: 150px;
        position: relative;
        /* background-color: #0838E3; */
        text-align:justify;
    }
    h1{
        padding: 10px 0px;
        font-size: 32px;
    }
    .input-section{
        height: 75px;
       
        margin-top: 10px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .input-section input{
        width: 160px;
        height: 30px;
        /* background-color: blue; */
        border-radius: 20px;
        outline: none;
        border: 1px solid #0838E3;
        padding: 0px 10px;
        font-size: 12px;
        font-family:'Lato', sans-serif;
        color: #0838E3;
    }
    .input-section button{
        width: 180px;
        height: 35px;
        padding: 0px 10px;
        text-transform:uppercase;
        border-radius: 20px;
        outline: none;
        border: 1px solid #0838E3;
        font-size: 14px;
        font-family:'Lato', sans-serif;
        background-color: #0838E3;
        color: #fff;
        cursor: pointer;
    }
    
}
