.wrapper{
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.about_container{
    display: flex;   
}
.info{
    width: 50%;
}
.profile{
    width: 50%;
    padding: 10px 50px;
}
.technologies{
    display: flex;
}
.image{
    border-radius: 10px;
}
.image_wrapper{
    border: 5px solid #E5202B;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-left: 10px;
}

@media (max-width: 750px){
.wrapper{
    width: 100%;
}
.about_container{
    flex-direction: column;
}
.info{
    width: 100%;
}
.profile{
    width: 100%;
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
}

