.socials{
    position: fixed;
    list-style: none;
    bottom: 0;
}
.socials li{
    padding: 5px 0px;
}
@media (max-width: 750px){
    .socials{
        margin-top: 20px;
        margin-right: 20px;
        top: 0;
        right: 0;
        display: flex;
    }
    .socials li{
        padding: 0px 5px;
    }
}