

.link {
    background-color:#E5202B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 700;
    max-width: 150px;
}

@media (max-width: 750px){
    .link{
        font-size: 12px;
        padding: 5px;
        max-width: 100px;
    }
}
